<%- include ("headers.ejs") %>

<h1>Welcome</h1>
<h2>What do you want to do?</h2>

<div>Wanna see some products?</div>
<a href="/products">Show products</a>
<div>Want to create an account?</div>
<a href="/signup">Sign up</a>
<div>Alreday have an account?</div>
<a href="/login">Sign into your account</a>