<%- include ("headers.ejs") %>

<body>
    <form action="/login" method="POST">
        <input type="email" name="loginemail" id="" placeholder="e-mail">
        <input type="password" name="loginpassword" id="" placeholder="password">
        <button type="submit">Log in</button>
        <h2>Create account? <a href="/signup"> Sign up</a></h2>
        <p>Har du glömt ditt lösenord</p>
        <a href="/resetpw">Nytt lösenord</a>
    </form>
</body>

</html>