<%- include ("headers.ejs") %>

<body>
    <form action="/login" method="POST">
        <input type="email" name="loginemail" id="" placeholder="e-mail">
        <input type="password" name="loginpassword" id="" placeholder="password">
        <button type="submit">Log in</button>
        <div>
            <h2>Not a member yet?</h2>
            <a href="/signup"> Sign up</a>
        </div>
        <h2>Forgotten your password?</h2>
        <a href="/resetpw">New password</a>
    </form>
</body>

</html>