<%- include ("headers.ejs") %>

<body>
    <form action="/resetpw" method="POST">
        <input type="email" name="resetMail">
        <button type="submit">Skicka lösenord</button>
    </form>
</body>

</html>