<%- include ("headers.ejs") %>

<body>
    <form action="/resetpw" method="POST">
        <input type="email" name="resetMail" placeholder="email address">
        <button type="submit">Get a new password!</button>
    </form>

    <%- include ("logout.ejs") %>
</body>

</html>