<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/signup" method="POST">
        <input type="email" name="email" id="" placeholder="e-mail">
        <input type="password" name="password" id="" placeholder="password">
        <input type="password" id="" placeholder="repeat password">
        <button type="submit">Sign up</button>

        <h2>Alreday a member? <a href="/login">Login</a></h2>
    </form>

</body>

</html>